<ion-modal-view class="touchpoint progress-1 popoverr">

  <ion-content class="filter-popover">
  	<div class="box">
	<div class="slide-image"></div>
    <h1>Progress</h1>
    <p>
      Your progress is now available via the graph icon in the upper left.<br><br>
      Within PROGRESS, your mood is graphed against your daily activities. This will help you identify triggers and patterns. Which activities within Pacifica are most beneficial to you? Find out now.
    </p>
 
    <button ng-click="closeProgressIntroModal()" class="button-start">OK, GOT IT.</button>
	</div>

  </ion-content>
</ion-modal-view>