<ion-modal-view class="touchpoint mood-3 popoverr">

  <ion-content class="filter-popover">
  	<div class="box">
    <div class="slide-image"></div>
    <h1>Chin up.</h1>
    <p>
      Looks like you&#8217;re going through a stetch of anxiety. Don&#8217;t worry. These feelings will pass.<br><br>
      Use RELAX in moments of anxiety or use THOUGHTS to dig deeper into the cause of your anxiety.
    </p>
 
    <button ng-click="closeBad5xModal()" class="button-start">
      OK, GOT IT.
    </button>
</div>

  </ion-content>
</ion-modal-view>