<ion-modal-view class="touchpoint health-2 popoverr">

  <ion-content class="filter-popover">
    <div class="box">
    <div class="slide-image"></div>
    <h1>Sleep Goal Missed</h1>
    <p>
      Sleep can be tough. You want a good night&#8217;s sleep, but the more anxiety you feel, the harder it can be to fall asleep.<br><br>
      Next time you&#8217;re struggling, try the &#8220;Muscle Relaxation&#8221; exercise within RELAX. This exercise will help you to relax your entire body and hopefully get some rest.
    </p>
 
    <button ng-click="closeSleepGoalModal()" class="button-start">
      OK, GOT IT.
    </button>
  </div>
  </ion-content>
</ion-modal-view>