<ion-modal-view class="touchpoint health-1 popoverr">

  <ion-content class="filter-popover">
    <div class="box">
    <div class="slide-image"></div>
    <h1>Goal Met</h1>
    <p>
      Congrats! You reached your first HEALTH goal. Be sure to rate all your activities each day.<br><br>
      If you want customize any of these goals, just tap the gear in the upper right. You can also add new activities as you see fit.
    </p>

    <button ng-click="closeHabitsGoalModal()" class="button-start">
      OK, GOT IT.
    </button>
  </div>

  </ion-content>
</ion-modal-view>