<ion-modal-view class="touchpoint mood-1 popoverr">

  <ion-content class="filter-popover">
    <div class="box">
    <div class="slide-image"></div>
    <h1>Daily Goal Met</h1>
    <p>
     Nice! You did three MOOD entries today. This is the daily goal for MOOD.<br><br>
     Keep it up. The more entries you do, the better you&#8217;ll able to measure your progress.
    </p>
 
    <button ng-click="closeMoodGoalModal()" class="button-start">
      OK, GOT IT.
    </button>
    </div>
  </ion-content>
</ion-modal-view>