<ion-modal-view class="touchpoint mood-2 popoverr">

  <ion-content class="filter-popover">
  	<div class="box">
    <div class="slide-image"></div>
    <h1>Keep it up.</h1>
    <p>
      Looks like you&#8217;ve been doing well lately. Good going.<br><br>
      That said, it&#8217;s important to keep using the tools even when things are looking up. Keep at it. You&#8217;re making real progress. 
    </p>
 
    <button ng-click="closeGood5xModal()" class="button-start">
      OK, GOT IT.
    </button>
	</div>

  </ion-content>
</ion-modal-view>