<ion-view title="THOUGHTS" class="intro rethink">

  <ion-nav-buttons side="right">
    <a href="javascript:;" ui-sref="app.rethink-help"><button class="button button-clear icon ion-ios7-help-empty"></button></a>
  </ion-nav-buttons>

  <div class="back"></div>

  <ion-content>
	<h2>THOUGHTS</h2>
	<p>Before you begin, make sure you&#8217;re in a place where you can talk. This exercise requires recording your voice.</p>

    <div class="list">
      <div class="item item-icon-left" ng-click="recordingInfo()">
		    <i class="icon ion-android-microphone"></i> Input via Microphone
	     </div>
      <div class="item privacy item-icon-left">
        <i class="icon ion-ios7-locked-outline"></i> Your recordings are private &amp; secure.
      </div>
	</div>
  <a href="javascript:;" ng-click="goToRecord()" class="item button-start">START</a>
  </ion-content>

</ion-view>