<ion-modal-view class="touchpoint thoughts-1 popoverr">

  <ion-content class="filter-popover">

  	<div class="box">
    <div class="slide-image"></div>
    <h1>Daily Goal Met</h1>
    <p>
      Nice! You&#8217;ve completed THOUGHTS for the first time. Feel better?<br><br>
      When you&#8217;re ready to start facing anxiety head on, try the EXPERIMENTS activity. You&#8217;ll learn to reduce your anxiety by slowly facing your fears.
    </p>
   	<button ng-click="closeCompletedRethinkModal()" class="button-start">OK, GOT IT.</button>
   </div>

  </ion-content>
</ion-modal-view>