<ion-modal-view class="touchpoint premium popoverr">
<go-back ng-click="closePremiumModal()"></go-back>
  <ion-content class="filter-popover">
    <div class="box">
    <div class="slide-image"></div>
    <h1>Get Full Access</h1>
    <p>
      Your 14 day trial has expired. To keep using all the tools within Pacifica, you&#8217;ll need to upgrade.<br><br>
      This can be done from the Account page.
    </p>
    <button ng-click="closePremiumModal()" class="button-start">
      OK, GOT IT.
    </button>
    </div>
  </ion-content>
</ion-modal-view>