<ion-modal-view class="touchpoint mood-1 popoverr">

  <ion-content class="filter-popover">

    <div class="box">

      <div class="slide-image"></div>
      <h1>Purchase Complete</h1>
      <p>
        Thank you for your purchase. You now have access to all of the tools available in Pacifica. If you ever have any problems at all, please don't hesitate to contact us at <a href="mailto:info@thinkpacifica.com" style="text-decoration: none; color: #5ce59d;">info@thinkpacifica.com</a>.
      </p>
   
      <button ng-click="closeThankYouModal()" class="button-start">
        OK, GOT IT.
      </button>
    </div>
  </ion-content>
</ion-modal-view>