<ion-modal-view class="touchpoint experiment-1 popoverr">

  <ion-content class="filter-popover">
    <div class="box">
<div class="slide-image"></div>
    <h1>Experiment Added</h1>
    <p>
      You&#8217;ve added your first experiment. Nice! You have the rest of the day to do the experiment. Once done, be sure to mark it complete by tapping it.<br><br>
      To help you with this, we&#8217;ve enabled the &#8220;Visualization&#8221; exercise within RELAX. This exercise will help you get in the mindset to face your fears.
    </p>
 
    <button ng-click="closeAddSubGoalModal()" class="button-start">
      OK, GOT IT.
    </button>
  </div>

  </ion-content>
</ion-modal-view>