<ion-modal-view class="touchpoint experiment-3 popoverr">

  <ion-content class="filter-popover">
    <div class="box">
<div class="slide-image"></div>
    <h1>Bronze Star</h1>
    <p>
      Congrats! You&#8217;ve earned a bronze star (25 experiment points). This is no small feat. You&#8217;re making real progress.<br><br>
      Think back to when you first started versus now. Feel better? The key is to keep at it.<br><br>
      Going forward, see if you can earn a silver star (50 points) or a gold star (100 points).
    </p>
 
    <button ng-click="closeFirstStarModal()" class="button-start">
      OK, GOT IT.
    </button>
  </div>
  </ion-content>
</ion-modal-view>