<ion-view title="" hide-nav-bar="true" class="popoverr" id="nuxAnxious">
  <ion-content>
    <h1><strong>Over the past 2 weeks:</strong><br>
    	How often have you felt on edge, nervous or anxious?</h1>
    
    <graph-selector values="values" value-data="valueData" selectable="true" colors="colors" color-percentages="colorPercentages" show-ticks="true" goal-percentage="goalPercentage" segmented="true"></graph-selector>
  <div class="bar bar-footer">
    <button class="button button-large" ng-click="next()">Confirm</button>
  </div>
  </ion-content>
</ion-view>