<ion-modal-view class="touchpoint relax-1 popoverr">

  <ion-content class="filter-popover">
  	<div class="box">
    <div class="slide-image"></div>
    <h1>Daily Goal Met</h1>
    <p>
      Nice! You&#8217;ve completed RELAX for the first time. Feel better?<br><br>
      Next time your mind is racing, try the THOUGHTS activity. You&#8217;ll learn to find a more balanced way of thinking.
    </p>
    <button ng-click="closeRelaxGoalModal()" class="button-start">OK, GOT IT.</button>
	</div>

  </ion-content>
</ion-modal-view>