<ion-view title="Advanced Settings" class="popoverr relax-config">
  <div class="back"></div>
  <ion-content>


    <!--<ion-checkbox ng-model="values.playBreathing" ng-change="updatePlayBreathing()">Play Breathing Sounds</ion-checkbox>

    <ion-checkbox ng-model="values.meditationMode" ng-change="updateMeditationMode()">Infinite Breathing Cycles</ion-checkbox>-->
	<ion-toggle ng-model="values.playBreathing" toggle-class="toggle-calm" ng-change="updatePlayBreathing()">Play Breathing Sounds</ion-toggle>
	<ion-toggle ng-model="values.meditationMode" toggle-class="toggle-calm" ng-change="updateMeditationMode()">Infinite Breathing Cycles</ion-toggle>

  </ion-content>
</ion-view>