<ion-view title="" hide-nav-bar="true" class="popoverr slideshow">
  <ion-content>

    <go-back ng-show="!intro"></go-back>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">

      <ion-slide class="relax-slide">
        <div class="box1 box">
          <div class="slide-image"></div>
          <h1>Learn to Relax</h1>
          <p>RELAX offers three different relaxation techniques: deep belly breathing, progressive muscle relaxation and positive visualization. Use these whenever you need to calm yourself.<br><br>Be sure to try out the different soundscapes too and see which is most relaxing to you (whether it&#8217;s ocean waves, classical music or a thunderstorm).</p>
          <button class="button-start" ng-click="confirm()" ng-show="intro">OK, GOT IT.</button>
        </div>
      </ion-slide>


    </ion-slide-box>
  </ion-content>
</ion-view>